<div class="row">
<% @articles.each do |article| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= article.title %></h3>
        <img src=<%=article.image %>>
        <p><%= truncate(article.desc, length: 300) %></p><br>
        <p><%= link_to 'Read More', article, :class=>"btn btn-primary" %></p>
      </div>
    </div>
 </div>
<% end %>
</div>
    
<div style="clear: both;"></div>
